<button *ngIf="enabled()" class="settings-button" mat-mini-fab [matMenuTriggerFor]="settings">
  <mat-icon class="settings-button__icon">more_vert</mat-icon>
</button>
<div class="settings-menu">
  <mat-menu #settings="matMenu" xPosition="before">
    <button *ngIf="enableEdit" class="settings-menu__item" (click)="onEditClicked()" mat-menu-item>Edit</button>
    <button *ngIf="enableCopy" class="settings-menu__item" (click)="onCopyClicked()" mat-menu-item>Copy</button>
    <button *ngIf="enableDelete" class="settings-menu__item" (click)="onDeleteClicked()" mat-menu-item>Delete</button>
    <button *ngIf="enablePrint" class="settings-menu__item" (click)="onPrintClicked()" mat-menu-item>Print</button>
  </mat-menu>
</div>